{% extends 'base.html.twig' %}

{% block title %}Hello DrawLotoController!{% endblock %}

{% block body %}
    <div class="container">
        {{ component('draw_card_loto', {
            id:13,
        }) }}

        {{ component('draw_card_loto', {
            id: 51,
        }) }}

        {{ component('draw_card_loto', {
            id: 489,
        }) }}

        {{ component('draw_card_loto', {
            id: 756,
        }) }}

        {{ component('draw_card_loto', {
            id: 878,
        }) }}

        {{ component('draw_card_loto', {
            id: 997,
        }) }}

        {{ component('draw_card_loto', {
            id: 1257,
        }) }}

        {{ component('draw_card_loto', {
            id: 1430,
        }) }}

        {{ component('draw_card_loto', {
            id: 2200,
        }) }}
    </div>
{% endblock %}
