{% extends 'base.html.twig' %}

{% block title %}Résultats de vos numéros loto{% endblock %}

{% block body %}
    <div class="container-column">
        <div class="user_selection" id="user_selection-lotoCard">
            <h2>votre sélection loto</h2>
            <div class="user_selection-numbers" id="user_selection-loto">
                {% if userSelection.userBalls is defined %}
                    {% for ballSelection in userSelection.userBalls %}
                        <div class="wins_balls-loto"><p>{{ ballSelection }}</p></div>
                    {% endfor %}
                {% endif %}
                {% if userSelection.userLuckyNumbers is defined %}
                    <div id="display-userLuckyNumbers" class="win_luckyNumber"><p>{{ userSelection.userLuckyNumbers[0] }}</p></div>
                {% endif %}
            </div>
        </div>
        <table class="userResultTable" id="userResultTable-loto">
            <thead>
                <tr>
                    <th>Tirage<br>N°</th>
                    <th>Jour<br>de tirage</th>
                    <th>Date<br>de tirage</th>
                    <th>Boule<br>N°1</th>
                    <th>Boule<br>N°2</th>
                    <th>Boule<br>N°3</th>
                    <th>Boule<br>N°4</th>
                    <th>Boule<br>N°5</th>
                    <th>N°<br>Chance</th>
                    <th>Combinaison<br>gagnante</th>
                    <th>Nombre de<br>gagnant(s)</th>
                    <th>Montant de<br>la cagnotte<br>(si remporter)</th>
                </tr>
            </thead>
            <tbody>
                {% for key, userSelectionResult in userSelectionResults %}
                    {% set countTheadResult = userSelectionResult|length %}
                    {% set countBalls = key|slice(12, 1) %}
                    {% set divBall %}
                        <div class="table_icon-ball-loto"></div>
                    {% endset %}
                    {% set divLuckynuml %}
                        <div class="table_icon-luckynum-loto"></div>
                    {% endset %}
                    <tr class="loto-resultTitleRow">
                        {% if key|length == 21 %}
                            <th colspan="12">
                                <div>
                                    <p>{{ countTheadResult }} tirage(s) avec {{ countBalls }} {{ divBall }} + {{ divLuckynuml }} gagnants</p>
                                </div>
                            </th>
                        {% elseif key == 'userResultsOnlyLuckyNumber' %}
                            <th colspan="12">
                                <div>
                                    {{ countTheadResult }} tirage(s) gagnant(s) pour {{ divLuckynuml }} uniquement
                                </div>
                            </th>
                        {% else %}
                            <th colspan="12">
                                <div>
                                    <p>{{ countTheadResult }} tirage(s) avec {{ countBalls }} {{ divBall }} gagnants</p>
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    {% for selectionResult in userSelectionResult %}
                        <tr>
                            <td>{{ selectionResult.completeDraw.id }}</td>
                            <td>{{ selectionResult.completeDraw.drawDay }}</td>
                            <td>{{ selectionResult.completeDraw.drawDate }}</td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-loto' %}
                                {% if userSelection.userBalls is defined %}
                                    {% if selectionResult.completeDraw.ball1 in userSelection.userBalls %}
                                        {% set classWinloose = 'table-win_balls-loto' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.ball1 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-loto' %}
                                {% if userSelection.userBalls is defined %}
                                    {% if selectionResult.completeDraw.ball2 in userSelection.userBalls %}
                                        {% set classWinloose = 'table-win_balls-loto' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.ball2 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-loto' %}
                                {% if userSelection.userBalls is defined %}
                                    {% if selectionResult.completeDraw.ball3 in userSelection.userBalls %}
                                        {% set classWinloose = 'table-win_balls-loto' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.ball3 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-loto' %}
                                {% if userSelection.userBalls is defined %}
                                    {% if selectionResult.completeDraw.ball4 in userSelection.userBalls %}
                                        {% set classWinloose = 'table-win_balls-loto' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.ball4 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_balls-loto' %}
                                {% if userSelection.userBalls is defined %}
                                    {% if selectionResult.completeDraw.ball5 in userSelection.userBalls %}
                                        {% set classWinloose = 'table-win_balls-loto' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.ball5 }}</p>
                                </div>
                            </td>
                            <td>
                                {% set classWinloose = 'table-loose_luckyNumber' %}
                                {% if userSelection.userLuckyNumbers is defined %}
                                    {% if selectionResult.completeDraw.luckyNumber in userSelection.userLuckyNumbers %}
                                        {% set classWinloose = 'table-win_luckyNumber' %}
                                    {% endif %}
                                {% endif %}
                                <div class="{{ classWinloose }}">
                                    <p>{{ selectionResult.completeDraw.luckyNumber }}</p>
                                </div>
                            </td>
                            <td>{{ selectionResult.completeDraw.ascendingWinningCombination }}</td>
                            <td>{{ selectionResult.completeDraw.numberOfWinnerInRank1 }}</td>
                            {% if selectionResult.completeDraw.rankReport1 > 0 %}
                                <td>{{ selectionResult.completeDraw.rankReport1|number_format(0, ',', ' ') }} eur</td>
                            {% else %}
                                <td>non remportée</td>
                            {% endif %}
                        </tr>
                        {% if selectionResult.completeDraw.ball1SecondDraw > 0 %}
                            <tr>
                                <td colspan="3">second tirage</td>
                                <td>
                                    {% set classWinloose = 'table-loose_balls-loto' %}
                                    {% if userSelection.userBalls is defined %}
                                        {% if selectionResult.completeDraw.ball1SecondDraw in userSelection.userBalls %}
                                            {% set classWinloose = 'table-win_balls-loto' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ selectionResult.completeDraw.ball1SecondDraw }}</p>
                                    </div>
                                </td>
                                <td>
                                    {% set classWinloose = 'table-loose_balls-loto' %}
                                    {% if userSelection.userBalls is defined %}
                                        {% if selectionResult.completeDraw.ball2SecondDraw in userSelection.userBalls %}
                                            {% set classWinloose = 'table-win_balls-loto' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ selectionResult.completeDraw.ball2SecondDraw }}</p>
                                    </div>
                                </td>
                                <td>
                                    {% set classWinloose = 'table-loose_balls-loto' %}
                                    {% if userSelection.userBalls is defined %}
                                        {% if selectionResult.completeDraw.ball3SecondDraw in userSelection.userBalls %}
                                            {% set classWinloose = 'table-win_balls-loto' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ selectionResult.completeDraw.ball3SecondDraw }}</p>
                                    </div>
                                </td>
                                <td>
                                    {% set classWinloose = 'table-loose_balls-loto' %}
                                    {% if userSelection.userBalls is defined %}
                                        {% if selectionResult.completeDraw.ball4SecondDraw in userSelection.userBalls %}
                                            {% set classWinloose = 'table-win_balls-loto' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ selectionResult.completeDraw.ball4SecondDraw }}</p>
                                    </div>
                                </td>
                                <td>
                                    {% set classWinloose = 'table-loose_balls-loto' %}
                                    {% if userSelection.userBalls is defined %}
                                        {% if selectionResult.completeDraw.ball5SecondDraw in userSelection.userBalls %}
                                            {% set classWinloose = 'table-win_balls-loto' %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="{{ classWinloose }}">
                                        <p>{{ selectionResult.completeDraw.ball5SecondDraw }}</p>
                                    </div>
                                </td>
                                <td></td>
                                <td>{{ selectionResult.completeDraw.ascendingWinningCombinationSecondDraw }}</td>
                                <td>{{ selectionResult.completeDraw.numberOfWinnerInRank1SecondDraw }}</td>
                                {% if selectionResult.completeDraw.rankReport1SecondDraw > 0 %}
                                    <td>{{ selectionResult.completeDraw.rankReport1SecondDraw|number_format(0, ',', ' ') }} eur</td>
                                {% else %}
                                    <td>non remportée</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}